.mv__latest-new-header {
  width: 100%;
  margin-top: 5vh;
}
.mv__latest-new-header h1 {
  font-family: "Anton";
  text-align: center;
  font-size: 4rem;
  position: relative;
  top: 20px;
  color: #1e2325;
}
.mv__latest-new-container {
  width: 100%;
  margin-bottom: 4vh;
  /* background-color: #ffff; */
}
.mv__latest-new-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 0 65px; */
  padding: 70px 2px;
  /* border-bottom: 1px solid #d6d6d6; */
}
.mv__latest-new-card {
  cursor: pointer;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 3px;
  /* overflow: hidden; */
  /* -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%); */
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  width: 33%;
  min-height: 460px;
}

/* .mv__latest-new-card:hover {
  -webkit-box-shadow: 0 0 30px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 20%);
} */
.mv__latest-new-card-body {
  width: 100%;
  height: 100%;
}

.mv__latest-ncb-picture-wrap {
  display: block;
  position: relative;
  height: 80%;
}

.mv__latest-ncb-picture-wrap:after {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  display: block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mv__latest-new-card-body:hover .mv__latest-ncb-picture-wrap:after {
  opacity: 0;
}

.mv__latest-new-card-body .mv__latest-ncb-picture-wrap img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 3px;
}

.mv__latest-new-card-body .mv__latest-new-card-content-wrap {
  height: 280px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mv__latest-new-card-content-wrap .mln-content {
  font-size: 1.15rem;
  line-height: 1.15;
  color: #666;
  margin-bottom: 18px;
}

.mv__latest-new-card-content-wrap .mln-title {
  word-wrap: break-word;
  font-family: Anton, "bebas neue", arial;
  font-weight: 400;
  font-size: 2.2rem;
}

.mv__latest-new-explore-container {
  margin: -10px 70px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: auto;
}

.mv__latest-new-explore-container button {
  background-color: #ffffff;
  border: 0px solid transparent;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  border-radius: 3px;
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1200px) {
  .mv__latest-ncb-picture-wrap {
    height: 72%;
  }
}
@media screen and (max-width: 990px) {
  .mv__latest-new-card {
    width: 49.5%;
    min-height: 575px;
  }
  .mv__latest-ncb-picture-wrap{
    height: calc((100vw - 50px) * 0.5);
  }
}
@media  screen and (max-width: 775px){
  .mv__latest-new-card {
    width: 100%;
    min-height: calc((80vw - 50px) * 1.25);
    margin-bottom: 45px;
  }
  .mv__latest-new-body{
    padding: 70px 0 0 0;
  }
  .mv__latest-ncb-picture-wrap{
    height: 450px
  }
  .mv__latest-new-card-body .mv__latest-new-card-content-wrap {
    height: auto;
  }
}
@media screen and (max-width: 665px){
  .mv__latest-new-card:last-child {
    margin-bottom:0;
  }
}