/* desktop*/
#signIn-main {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
}
.mv__sign-in-up-bg:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.35)),
    to(rgba(0, 0, 0, 0.35))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  );
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
}
.sgn-in-card {
  margin: 0;
  display: flex !important;
  justify-content: center;
}
#signIn-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.sgn-in-card h1 {
  font-size: 25px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}
#signIn-contact {
  width: 100%;
  height: auto;
}
#contact {
  width: 100%;
}
#signIn-information {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#signIn-information p {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.wrap-2-infomation {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  height: auto;
}
.second-wrap-2-information {
  margin-top: 20px;
}
.textField_label {
  color: black !important;
}
.textField_label1 {
  color: black !important;
  font-size: 14px !important;
}
#location-infomation {
  margin-top: 30px;
  width: 100%;
}
#location {
  width: 100%;
}
#wrap-contact {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
#cellphone-information {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  height: auto;
}
#cellphone {
  bottom: -16px;
}
#last-information {
  margin-top: 30px;
  width: 100%;
}
#signIn-after {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
#signIn-after h5 {
  font-size: 23px;
  color: black;
  font-weight: 600;
}
#first-checkbox-signIn {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.checkbox-1 {
  margin-top: 16px;
  display: flex;
}
#final_button {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.mv-login-nt{
  margin: 10px 0;
}
.mv-login-nt > a {
  color:rgba(0, 0, 0, 0.45);
}
.mv-login-nt > a:hover {
  color: #3f51b5;
}
.sign-in-card {
  display: flex !important;
  justify-content: center;
}
#signIn-main > h1 {
  font-weight: bold;
  text-align: center;
}
/*Mobile* max-width: 725px*/
@media screen and (max-width: 725px) {
  #signIn-main {
    max-width: 400px;
    height: 250vh;
  }
  .wrap-2-infomation {
    grid-template-columns: auto;
  }
  #wrap-contact {
    grid-template-columns: auto;
    row-gap: 30px;
  }
  #cellphone-information {
    grid-template-columns: auto;
    row-gap: 30px;
  }
}
